@import "tailwindcss";

hr {
  color: white;
}

.arial-narrow-black-alt {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  /* Optional: Tighten letter spacing slightly to match Arial Narrow's density */
  letter-spacing: -0.5px;
}

.extra-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  color: black; /* or your text color */

  /* The Magic Line: adds a 1px stroke around the letters */
  -webkit-text-stroke: 0.8px black;

  /* Optional: Paint order ensures the stroke doesn't eat the inside of the letters too much */
  paint-order: stroke fill;
}
